.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App .middle-part {
    display: flex;
    align-items: center;
}

button {
    background-color: #b8eded;
    padding: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.horizontal-button button {
    width: 300px;
}

.vertical-button button {
    height: 300px;
}