@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    /* background: #F5F7F8; */
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}